Instructions: {{ system_prompt }}
History:
{% for entry in history %}
---
    {{ entry[0] }} : {{ entry[1] }}
{% endfor %}
---
Context:
{% for doc in documents %}
---
    {{ doc }}
{% endfor %}
---
Query: {{ query }}
